*{
	padding: 0;
	margin: 0;
}

/* SlideShow
-------------------------------------------------- */
body{
	background-image:url('images/bg-body.png');	
}
div.container{
	width       : 100%px;
	margin      : 0 auto;
	padding-top : 1px;
}

div.slideshow{
	height     : 640px;
	margin     : 20px auto 0;
	overflow   : hidden;
	position   : relative;
	background-repeat   : no-repeat;
}
div.cover{
	background-image:url("images/pattern.png");
	background-repeat:repeat;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:1366px;
	height:590px;
	margin-top:20px;
}
div.slideshow div.train{
	width    : 30000px;
	height   : 590px;
	position : absolute;
	left     : 0;
	top      : 0;
	-webkit-transition : left 800ms ease-in-out;
	-moz-transition : left 800ms ease-in-out;
}

div.slideshow div.train > div{
	width  : 1366px;
	height : inherit;
	float  : left;
	border-radius       : 6px;
	background-size        :cover;
	background-repeat   : no-repeat;
}
div.slideshow div.train div:nth-child(1){
	background-position:30% 80%;	
}
div.slideshow div.train div:nth-child(2){
	background-position:right center;
}
div.slideshow div.train div:nth-child(3){
	background-position:0% 25%; 
}
div.slideshow div.train div:nth-child(4){
	background-position:center center;	
}
div.slideshow div.train div:nth-child(5){
	background-position:0% 18%;	
}
div.slideshow div.train div:nth-child(6){
	background-position:60% 60%;
}
div.slideshow div.train div:nth-child(7){
	background-position:0% 20%;
}
div.slideshow div.train div:nth-child(8){
	background-position:100% 30%;
}
/* Navigation
-------------------------------------------------- */

div.slideshow ul.btns{
	height		:150;
	list-style : none;
	position   : absolute;
	left       : 0;
	bottom     : 0;
	z-index: 11;
}

div.slideshow ul.btns li{
	border:2px solid transparent;
	float  : left;
	cursor : pointer;
	width:120px;
	height:90px;
	margin-right       : 45px;
	border-radius      : 4px;
	background-color   : #333;
	-webkit-transition : all 1100ms;
	-moz-transition : all 1100ms;
	background-size : cover;
	box-shadow : 0 0 20px #111;
	background-repeat : no-repeat;
	opacity:.8;
}
div.slideshow ul.btns li:nth-child(1){
	background-image:url(images/pic01.jpg);	
}
div.slideshow ul.btns li:nth-child(2){
	background-image:url(images/pic02.jpg);	
}
div.slideshow ul.btns li:nth-child(3){
	background-image:url(images/pic03.jpg);	
}
div.slideshow ul.btns li:nth-child(4){
	background-image:url(images/pic04.jpg);	
}
div.slideshow ul.btns li:nth-child(5){
	background-image:url(images/pic05.jpg);	
}
div.slideshow ul.btns li:nth-child(6){
	background-image:url(images/pic06.jpg);	
}
div.slideshow ul.btns li:nth-child(7){
	background-image:url(images/pic07.jpg);	
}
div.slideshow ul.btns li:nth-child(8){
	background-image:url(images/pic08.jpg);	
}

div.slideshow ul.btns li:hover,
div.slideshow ul.btns li.active{
	-webkit-transition-duration : 900ms;
	-moz-transition-duration : 900ms;
	opacity : 1;
	border : 2px solid white;
	box-shadow : 0 0 50px #111;
}
/******** slide btns *********/
div.slideshow div.previous,
div.slideshow div.next{
	position : absolute;
	width    : 60px;
	height   : 590px;
	opacity  : 0;
	cursor   : pointer;
	background-repeat  : no-repeat;
	-webkit-transition : opacity 500ms;
	-moz-transition : opacity 500ms;
	background-color : #111;
}

div.slideshow:hover div.previous,
div.slideshow:hover div.next{
	opacity:.6;
}
div.slideshow div.next div.nxt,
div.slideshow div.previous div.pvs{
	background-image:url('images/slider_nav_bg.png');
	width		:	25px;
	height		:	31px;
	position	:	absolute;
	top			:	273px;	
}

/**** Previous Button ****/

div.slideshow div.previous{
	left:0;
}

div.slideshow div.previous div.pvs{
	left:15px;
}

div.slideshow:hover div.previous div.pvs:hover{
	background-position:46px 0px;
}
/****** Next Button ******/

div.slideshow div.next{
	right:0;
}

div.slideshow div.next div.nxt{
	background-position:	-21px 0px;
	right						:	15px;
}

div.slideshow:hover div.next div.nxt:hover{
	background-position:24.5px 0px;	
}